<div class="contents row" >
  <% @tweet.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= simple_format(tweet.params(:text)) %></p>
      <span class="name"><%= tweet.params(:name) %></span>
  <% end %>

</div>